<table class="table">
  <thead>
    <tr>
      <th>Logo</th>
      <th>Nombre del Producto</th>
      <th>Descripción</th>
      <th>Fecha de liberación</th>
      <th>Fecha de reestructuración</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td><img [src]="product.logo" alt=""></td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.date_release | customDate}}</td>
      <td>{{ product.date_revision | customDate}}</td>
      <td>
        <button type="button" (click)="delete(product.id)">delete</button>
        <button type="button" (click)="edit(product)">edit</button>
      </td>
    </tr>
  </tbody>
</table>
<app-modal-confirmation></app-modal-confirmation>
