<table class="table">
  <thead>
    <tr>
      <th>Logo</th>
      <th>Nombre del Producto</th>
      <th>Descripción</th>
      <th>Fecha de liberación</th>
      <th>Fecha de reestructuración</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td><img class="img-logo" [src]="product.logo" alt=""></td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.date_release | customDate}}</td>
      <td>{{ product.date_revision | customDate}}</td>
      <td>
        <div class="dropdown" [class.open]="product === activeProduct" (click)="toggleDropdown($event, product)">
          <button type="button" class="btn-dropdown">
            <span>::</span>
            <div class="dropdown-toggle">
            </div>
          </button>
          <ul *ngIf="isDropdownOpen" class="dropdown-menu">
            <li (click)="edit(product)">Editar</li>
            <li (click)="delete(product.id)">Eliminar</li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<app-modal-confirmation></app-modal-confirmation>
