table {
  border-collapse: collapse;
  width: 100%;
  thead {
    tr{
      th {
        border-bottom: 1px solid #c1c8dadc;
        font-family: 'roboto-regular';
        background-color: #F9FAFC;
        font-size: .8rem;
        text-align: center;
        height: 2.5rem;
        color: rgba(0, 0, 0, 0.774);
      }
    }
  }
  tbody {
    tr {
      td:first-child {
        text-align: center;
      }
      td {
        border-bottom: 1px solid #c1c8dadc;
        padding-left: 1rem;
        font-family: 'roboto-regular';
        font-size: .8rem;
        .img-logo {
          text-align: center;
          width: 3rem;
          height: 2.8rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
table th:nth-child(1) { width: 25%; }
table th:nth-child(2) { width: 20%; }
table th:nth-child(3) { width: 20%; }
table th:nth-child(4) { width: 20%; }
table th:nth-child(5) { width: 15%; }

th, td {
  padding: 10px;
  text-align: left;
}

.btn-dropdown{
  // background-color: red;
  background-color: transparent;
  padding: 1rem;
      border: none;
      outline: none;
      font-family: 'roboto-bold';
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 8px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f2f2f2;
}

.open .dropdown-menu {
  display: block;
}
