<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Nombre del Producto</th>
      <th>Descripción</th>
      <th>Fecha de liberación</th>
      <th>Fecha de reestructuración</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td><img [src]="product.logo" alt=""></td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.date_release | date: 'YYYY/MM/dd'}}</td>
      <td>{{ product.date_revision | date: 'YYYY/MM/dd' }}</td>
      <td>:</td>
    </tr>
  </tbody>
</table>
<!-- <div *ngFor="let product of products"> -->
<!--   <div>name: {{ product.name }}</div> -->
<!--   <div>description: {{ product.description }}</div> -->
<!-- </div> -->
