<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form">
  <div class="input-container">
    <label for="id">Id:</label>
    <input type="text" id="id" formControlName="id" [readonly]="initialValues"/>
    <div *ngIf="shouldShowError('id', 'required')">
      El Id es requerido.
    </div>
    <div *ngIf="shouldShowError('id', 'minlength') || shouldShowError('id', 'maxlength')">
      El Id debe tener entre 3 y 10 caracteres.
    </div>
    <div *ngIf="shouldShowError('id', 'productIdExists')">
      El id ya existe.
    </div>

  </div>

  <div class="input-container">
    <label for="description" class="input-container__label">Descripción:</label>
    <textarea id="description" formControlName="description" class="input-container__input"></textarea>

    <span *ngIf="shouldShowError('description', 'required')" class="input-container__message">
      La descripción es requerida.
    </span>

    <span *ngIf="shouldShowError('description', 'minlength') || shouldShowError('description', 'maxlength')" class="input-container__message">
      La descripción debe tener entre 10 y 200 caracteres.
    </span>
  
  </div>

  <div class="input-container">
    <label for="description" class="input-container__label">Descripción:</label>
    <textarea id="description" formControlName="description" class="input-container__input"></textarea>
    <div *ngIf="shouldShowError('description', 'required')">
      La descripción es requerida.
    </div>
    <div *ngIf="shouldShowError('description', 'minlength') || shouldShowError('description', 'maxlength')">
      La descripción debe tener entre 10 y 200 caracteres.
    </div>
  </div>

  <div class="input-container">
    <label for="logo">Logo:</label>
    <input type="text" id="logo" formControlName="logo" />
    <div *ngIf="shouldShowError('logo', 'required')">
      El logo es requerido.
    </div>
  </div>

  <div class="input-container">
    <label for="date_release">Fecha de Liberación:</label>
    <input type="date" id="date_release" formControlName="date_release" />
    <div *ngIf="shouldShowError('date_release', 'required')">
      La Fecha de Liberación es requerida.
    </div>
    <div *ngIf="shouldShowError('date_release', 'invalidReleaseDate')">
      La Fecha de Liberación debe ser igual o mayor a la fecha actual.
    </div>
  </div>

  <div class="input-container">
    <label for="date_revision">Fecha de Revisión:</label>
    <input type="date" id="reviewDate" formControlName="date_revision" />
    <div *ngIf="shouldShowError('date_revision', 'required')">
      La Fecha de Revisión es requerida.
    </div>
    <div *ngIf="shouldShowError('date_revision', 'invalidReviewDate')">
      La Fecha de Revisión debe ser exactamente un año posterior a la fecha de liberación.
    </div>
  </div>
  <div class="wrap-btn">
    <button type="button" *ngIf="!initialValues" [disabled]="!canResetForm()" (click)="resetForm()">Reiniciar</button>
    <button type="submit" [disabled]="!productForm.valid">Enviar</button>
  </div>
</form>
